<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
    <h2>TechJobs</h2>
<!--    Displays list of jobs as links. Each link returns a view.html template followed by the job ID. Where do the jobs come from though?-->
    <ul>
        <li th:each="job : ${jobs}">
            <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
        </li>
    </ul>

</div>

</body>
</html>